body,
html {
	color: #212121;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.mainPage {
	margin-top: 60px;
	display: flex;
	flex-direction: row;
  justify-content: center;
	background-color: #ebe9e9;
}

.mainPageContainer {
	display: flex;
	width: 78%;
	justify-content: flex-end;
	box-sizing: border-box;
  /* background-color: blue; */

}

.container {
  width: 85%;
  height: 100vh;
  /* background-color: yellow; */
	background-color: #ebe9e9;

  padding-top: 20px;
}
